@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-body: hsl(0, 0%, 98%);
  --bg-create-btn: hsl(249, 17%, 32%);
  --bg-input: hsl(0, 0%, 98%);
  --bg-todo-item-container: hsl(0, 0%, 98%);
  --border-custom-checkbox: 1px solid hsl(234, 39%, 85%);
  --border-bottom-todo-item-container: 1px solid hsl(233, 11%, 84%);
  --color-clear-completed-btn: hsl(236, 9%, 61%);
  --color-create-btn: hsl(0, 0%, 98%);
  --color-items-left: hsl(236, 9%, 61%);
  --color-tab: hsl(236, 9%, 61%);
  --color-tab-selected: hsl(220, 98%, 61%);
  --color-title: hsl(0, 0%, 98%);
  --color-todo-item: hsl(235, 19%, 35%);
  --color-todo-item-completed: hsl(233, 11%, 84%);
  --shadow-panel-container: 0 0 10px 1px hsl(233, 11%, 84%);
}

body,
html {
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-body);
  font-family: "Josefin Sans", sans-serif;
}

.decoration {
  display: block;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: clamp(400px, 50vw, 700px);
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--color-title);
  letter-spacing: 5px;
}

.toggle-theme-btn {
  background-color: transparent;
  border: none;
}

.todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  background-color: var(--bg-input);
  border: none;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
}

.btn--create-todo {
  background-color: var(--bg-create-btn);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: var(--color-create-btn);
  font-family: inherit;
  font-size: 1rem;
  min-width: 130px;
  padding: 1rem;
}

.todo-panel-container {
  box-shadow: var(--shadow-panel-container);
}

.todo__list {
  border-radius: 3px;
  overflow: hidden;
  list-style-type: none;
}

.todo-item-container {
  border-bottom: var(--border-bottom-todo-item-container);
  background-color: var(--bg-todo-item-container);
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 10px;
}

.custom-checkbox {
  border: var(--border-custom-checkbox);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  height: 25px;
  width: 25px;
}

.todo__item {
  border-bottom: var(--border-bottom-todo-item-container);
  background-color: var(--bg-todo-item-container);
  color: var(--color-todo-item);
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 10px;
}

.todo__item--no-todos-available {
  justify-content: center;
}

.todo__item--no-todos-available--hidden {
  display: none;
}

.todo__item--completed {
  color: var(--color-todo-item-completed);
  text-decoration: line-through;
}

.custom-checkbox--checked {
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  color: white;
}

.tabpanel__controls {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.items-left {
  color: var(--color-items-left);
  font-size: 1rem;
}

.tablist__tab {
  background-color: transparent;
  border: none;
  color: var(--color-tab);
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
}

.tablist__tab--selected {
  color: var(--color-tab-selected);
}

.clear-completed-btn {
  background-color: transparent;
  border: none;
  color: var(--color-clear-completed-btn);
  font-family: inherit;
  font-size: 1rem;
}
